<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img class="click" src="./assets/clickstore/clickstore-04.png"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-toolbar class="container">
<ion-row>
    <ion-col>
      <ion-slides [options]="Slide">
        <ion-slide *ngFor="let Slide of slide">
          <ion-img  class="pick-avatar" 
                  src="/assets/comida/{{ Slide.img }}">                  
          </ion-img>


        </ion-slide>  
      </ion-slides>
      
    </ion-col>
</ion-row>
</ion-toolbar>

<ion-content [fullscreen]="true">

</ion-content>
